.App {
  text-align: center;
  color: white;
}

body {
  background-color: black;
}

/* The text colour is white thats why its not showing */

.text-nav {
  margin-left: 55%;
  font-size: 25px;
}

.a-text-nav {
  font-size: 25px;
}

.size {
  font-size: 30px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

div.admin-bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: black;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }

  div.admin-bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.myback {
  height: 220px;
  width: 300px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 140px;
  font-family: "Qwigley", cursive;
  color: rgb(255, 255, 255);
}
/* Login-Start */
.login_title {
  font-family: "Qwigley", cursive;
  font-size: 100px;
  margin-top: -15%;
  margin-bottom: 40px;
}

.register_title {
  font-family: "Qwigley", cursive;
  font-size: 100px;
  margin-top: 3%;
  color: black;
}

.my_btn {
  width: 100%;
  background-color: black;
  border: 10px solid black;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px;
}
/* Login-End */

.colour_of_about_text {
  color: white;
  font-size: 30px;
}

.text-colour {
  color: black;
}

.move_down {
  margin-top: 50%;
}

.card_text_colour {
  color: black;
  font-size: 18px;
  text-align: left;
}

.price {
  margin-top: -10px;
  text-align: left;
}

.cart-btn {
  margin-top: 10px;
}

.headings_popup {
  text-align: left;
}

.instrument_sections {
  color: rgb(0, 0, 0);
  font-family: "Qwigley", cursive;
  font-size: 130px;
  margin-top: 5px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.shopping_cart {
  color: rgb(0, 0, 0);
  font-family: "Qwigley", cursive;
  font-size: 70px;
  margin-top: 5px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.about {
  font-family: "Qwigley", cursive;
  font-size: 180px;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.questions {
  font-family: "Gruppo", cursive;
}

.move_this_up {
  margin-top: -10px;
}

.move_my_products {
  margin-top: -80px;
}

.size_of_image {
  height: 380px;
}

.about_us_move {
  margin-left: 48%;
  margin-top: 18.5%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
  width: 500px;
}

.gender_colour {
  color: black;
}

.the_container {
  width: 50%;
}

.move_this_row {
  margin-top: -80px;
}

.sign_up_head {
  font-family: "Qwigley", cursive;
  font-size: 100px;
  color: black;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.move_payment_up {
  margin-top: 100px;
}

.buttons_as_footer {
  position: absolute;
  bottom: 0;
  width: 65%;
  height: 130px;
}

.cart_words_white {
  color: white;
  font-size: 25px;
}

.container_width_register {
  width: 70%;
  margin-left: 18%;
}

.width_of_login_container {
  margin-top: 10%;
  width: 40%;
}

.change_register_text_colour {
  color: black;
}

.sidenav_title_text {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.sidenav_title_text_2 {
  color: black;
  font-size: 14px;
  width: 250px;
  margin-left: 20px;
  font-weight: bold;
}

.waves-effect.waves-red .waves-ripple {
  /* The alpha value allows the text and background color
  of the button to still show through. */
  background-color: rgba(0, 0, 0, 0.65);
}

.sidenav_text {
  color: blue;
  margin-top: 15px;
}

.text_in_cart_btn {
  margin-top: -5px;
}

.move_myself_up {
  margin-top: 10px;
}
